<div id="sketchPadContainer">

</div>

<script>
  import { Sketchpad } from '../js/sketchPad.js';
  import features from '../common/features.js';
  const container = document.querySelector('#sketchPadContainer');
  const sketchpad = new Sketchpad(container,onDrawingUpdate);
  function onDrawingUpdate(paths){
    const point = [features.getPathCount(paths), features.getPointCount(paths)];
    console.log(point);
  }
</script>

<style>
  #sketchPadContainer {
		display: flex;
		flex-direction: column;
		gap: 2rem;
		align-items: center;
	}
</style>